.container.use1 {
 margin-left: 0;
 margin-right: 0;
}

.row.use2{
    padding-top: 10px;
}

.homepage{
    font-size: 50px;
}

.container .jumbotron .container p{
    font-size: 20px;
}

.main-div {
    display: contents;
}

.card1use {
    width: 65%; 
    margin: auto; 
    padding: 10px 40px;
}

.signin {
    width: 30%;
}

.logincenter {
    text-align: center;
}

.home {
    font-size: large;
}

.list-group{
    width: 40%;
}

.navbar-brand {
    font-weight: bold;
}

.text-muted {
    font-size: 20px;
}

.col-md-3{
    text-align: -webkit-center;
}

.col-md-9{
    display: contents;
}

#delete-form{
    display: inline;
}

.delete-form-comment{
    display: inline;
}