.container.use1 {
 margin-left: 0;
 margin-right: 0;
}

.row.use2{
    padding-top: 10px;
}


.main-div {
    display: contents;
}

.card1use {
    width: 65%; 
    margin: auto; 
    padding: 10px 40px;
}



.list-group{
    width: 40%;
}


.text-muted {
    font-size: 20px;
}

.col-md-3{
    text-align: -webkit-center;
}

.col-md-9{
    display: contents;
}

#delete-form{
    display: inline;
}

.delete-form-comment{
    display: inline;
}